@model IEnumerable<TGDD_Ver5.Models.Banner>

@{
    ViewBag.Title = "Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách banner @Html.ActionLink("Thêm mới", "Create")</h2>

<table class="table">
    <tr>
        <th>
            Mã Banner
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Liên kết
        </th>
        <th>
            Màu (nếu có)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameBanner)
        </td>
        <td>
            <img src="@Url.Content(item.ImgBanner)" width="150"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkBanner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color_BG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
