@model TGDD_Ver5.Models.Bonu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Bonus", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bonu</h4>
        <hr />
        <table class="table">
            <tr>
                <td>Tên Bonus</td>
                <td>@Html.EditorFor(model => model.Bonus_Name)</td>
            </tr>
            <tr>
                <td>Ảnh</td>
                <td><input type="file" name="UploadImage" /></td>
            </tr>
            <tr>
                <td>Màu</td>
                <td>@Html.EditorFor(model => model.RGB)</td>
            </tr>
            <tr>
                <td>Màu_2</td>
                <td>@Html.EditorFor(model => model.RGB_2)</td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
