@model TGDD_Ver5.Models.AdminUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <th>Tên người dùng</th>
            <td>
                @Html.EditorFor(model => model.NameUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameUser, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Mật khẩu</th>
            <td>
                @Html.EditorFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Chức vụ</th>
            <td>
                @Html.EditorFor(model => model.AdminRole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdminRole, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-info" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Manager")
</div>
