@model IEnumerable<TGDD_Ver5.Models.OrderDetail>

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{ var order = Model.FirstOrDefault().OrderPro;}
<link href="~/Content/Customer/OrderDetails.css" rel="stylesheet" />
<section class="container-fluid menu__box">
    <div class="menu__left">
        <h3 style="font-size: 16px; height: 0px;">
            <span>Anh <b>Phúc Phạm</b></span>
        </h3>
        <ul class="set__ul">
            <li class="li__listorder"><a href="/Customer/Order"><i><img class="icon__listorder" src="https://cdn-icons-png.flaticon.com/128/9714/9714143.png?ga=GA1.1.1214305306.1697263106&track=ais"></i> Đơn hàng đã mua</a></li>
            <li class="li__profile"><a href="/Customer/Account"><i><img class="icon__profile" src="https://cdn-icons-png.flaticon.com/128/7886/7886313.png?uid=R120715845&ga=GA1.1.1214305306.1697263106&track=ais"></i>Thông tin và sổ địa chỉ</a></li>
        </ul>
        <a href="" class="btn__logout">Đăng Xuất</a>

        <div class="promote__giftvip">
            <span class="user__point">
                <b>Tổng điểm tích lũy: 2.902 điểm</b>
            </span>
            <hr width="100%">
            <div class="promote__content">
                <span><b>Tải app<i><img class="icon__tgdd" src="https://cdn.haitrieu.com/wp-content/uploads/2021/11/Logo-The-Gioi-Di-Dong-MWG.png"></i>Quà Tặng VIP</b></span>
                <p style="font-size: 11px; width: 208px; margin: 4px 0px 0px;">
                    Tích & sử dụng điểm cho khách hàng thân thiết. Sản phẩm của tập đoàn MWG.
                    <a href="https://www.thegioididong.com/tin-tuc/tat-tan-tat-ve-chuong-trinh-uu-dai-app-qua-tang-vip-link-tai-va-cach-su-dung-1481677#gioithieu">Tìm hiểu thêm</a>
                </p>
                <div class="OS__download">
                    <img class="icon__download" src="https://www.thegioididong.com/lich-su-mua-hang/images/2022/appstore.png">
                    <img class="icon__download" src="https://www.thegioididong.com/lich-su-mua-hang/images/2022/googleplay.png">
                </div>
            </div>
        </div>
    </div>
    <div class="menu__right">
        <div class="detail__listorder">
            <div class="list__order--view">
                <h2 style="font: 20px arial;width: 535.5px; margin-right: 20px;">
                    Chi tiết đơn hàng #@order.ID -
                    @if (order.Status_Order == true)
                    {
                        <span style="color: #1cac53"> Đã nhận hàng</span>
                    }
                    else if (order.Status_Order == false)
                    {
                        <span style="color: #D9021B"> Đã hủy</span>
                    }
                    else
                    {
                        <span style="color: #FFD400"> Chờ thanh toán</span>
                    }
                </h2>
                <p style="width: 294.5px;">Đặt lúc: @order.Date_Order</p>
            </div>
            <div class="box__IvP--view">
                <div class="inforReceive--view">
                    <h2 style="font: 14px arial;"><img width="17" height="16" src="https://cdn-icons-png.flaticon.com/128/819/819814.png?ga=GA1.1.1214305306.1697263106&track=ais">THÔNG TIN NHẬN HÀNG</h2>
                    <div><span>Người nhận:</span> @order.Customer.Gender @order.Customer.NameUser - @order.Customer.Phone</div>
                    <div><span>Nhận tại:</span> @order.AddressCus</div>
                    <div><span>Nhận lúc:</span> @order.Date_Order</div>
                </div>
                <div class="payments--view">
                    <h2 style="font: 14px arial; padding: 0px 0px 11px;"><img width="18" height="18" src="https://cdn-icons-png.flaticon.com/128/9771/9771141.png?ga=GA1.1.1214305306.1697263106&track=ais">HÌNH THỨC THANH TOÁN</h2>
                    @if (order.Status_Order == null)
                    {
                        <div>Chờ thanh toán</div>
                    }
                    else if (order.Status_Order == true)
                    {
                        <div>Đã thanh toán</div>
                    }
                    else
                    {
                        <div>ĐÃ hủy</div>   
                    }
                </div>
            </div>
            <div class="in4product--view">
                <h2 style="font: 14px arial;"> <img width="20" height="20" src="https://cdn-icons-png.flaticon.com/128/5952/5952937.png?ga=GA1.1.1214305306.1697263106&track=ais">  THÔNG TIN SẢN PHẨM</h2>
                @foreach (var item in Model)
                {
                    <div class="box__in4product--view">
                        <DIV class="iconimg--view" width="150"><img width="150" src="@Url.Content(item.ProDetail.Product.ImagePro)"></DIV>
                        <div class="title--view">
                            <p>@item.ProDetail.Product.NamePro</p>
                            <p style="color: #1cac53; font-size: 12px; line-height: 120%; margin: 0px 0px 8px;">Bảo hành: Còn BH đến 17/07/2025</p>
                            <div>
                                Khuyến mãi
                                <span style="font-size:10px">@Html.Raw(item.ProDetail.Product.Promotion)</span>
                            </div>
                            <p>Số lượng: @item.Quantity </p>
                        </div>
                        @if (item.Price != null)
                        {
                            <div class="price--view">
                                <p style="margin: 0px;">@String.Format("{0:#,0}", item.Price)₫</p><span style="text-decoration-line: line-through; color: #555;font-size: 12px;">

                                    @String.Format("{0:#,0}", item.Total)₫
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="price--view">
                                <p style="margin: 0px;">@String.Format("{0:#,0}", item.Total)₫</p>

                            </div>
                        }

                    </div>
                }

            <div class="listorder__price">
                <div class="listorder__provisional--view">
                    Tạm tính:
                    <span>@String.Format("{0:#,0}", order.Total_Price)₫</span>
                </div>

                @if (order.Status_Order == true)
                {
                    <div class="listorder__payment--required">
                        <span>Tổng tiền:</span>
                        <span>@String.Format("{0:#,0}", order.Total_Price)₫</span>
                    </div>
                    <div class="listorder__paid--view">
                        <b>Số tiền đã thanh toán:</b>
                        <span style="color:#d0021c"><b>@String.Format("{0:#,0}", order.Total_Price)₫</b></span>
                    </div>
                }
                else if (order.Status_Order == null)
                {
                    <div class="listorder__paid--view">
                        <b>Số tiền cần thanh toán:</b>
                        <span style="color:#d0021c"><b>@String.Format("{0:#,0}", order.Total_Price)₫</b></span>
                    </div>
                }

            </div>
                <div>
                    <a  style="text-decoration:none;" href="/Customer/Order" class="btn__back--listorder">
                        <b>VỀ TRANG DANH SÁCH MUA HÀNG</b>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

